 @import 'tailwindcss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-enter-active,
.v-leave-active {
  @apply transition-opacity duration-500 ease-in-out;
}

.v-enter-from,
.v-leave-to {
  @apply opacity-0;
}

